body{
    margin: 0;
    padding: 0;
    background-image: url(https://images.unsplash.com/photo-1671990742452-58eaad2277a9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1168&q=80);
    background-position: center;
    background-size:cover ;
    font-family: sans-serif;
 }
 .logingbox{
     width: 329px;
     height: 420px;
     background: powderblue;
     color: white;
     top: 50%;
     left: 50%;
     position: absolute;
     transform:translate(-50%,-50%);
     box-sizing: border-box;
     padding: 70px 30px;
     border-radius: 20px;
 }

 h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
 }
  p{
    margin: 0;
    padding: 0;
    font-weight: bold;

 }
 .logingbox input{
    width: 100%;
    margin-bottom:20px ;
 }
 .logingbox input [type="text"],input[type="User name"]
 {
    border: 1px solid black ;
    background:white ;
    font-size: 16px;
 }
 .logingbox input[ type="submit"]{
    border: none;
    height: 40px;
    background:red;
    color:Black;
    font-size: 19px;
    border-radius: 20px;
 }
 .logingbox input[type="submit"] :hover
 {
    cursor: pointer;
    background: yellow;
    color: yellow;
 }
 .logingbox a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey;
 }
 .logingbox a:hover
 {
    color:yellow;

 }
 
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(to left,rgba(235, 135, 235, 0.999),rgb(130, 135, 238));
 
      /* background-color:skyblue; */

}
#one{
    height: 300px;
    width: 300px;
    background-color:rgb(130, 152, 238);
    transform: rotate(60deg);
    position: absolute;
    margin-left: -200px;
}
#two{
    height: 600px;
    width: 400px;
    background-color:rgb(130, 135, 238);
    transform: rotate(60deg);
    position: absolute;top: 70%;left: 20%;
}
#three{
    height: 300px;
    width: 500px;
    background-color:rgba(245, 135, 235, 0.999);
    transform: rotate(60deg);
    position: absolute;
    position: absolute;left: 85%;top: 180px;
}

.login{
    height: 300px;
    width: 200px;
    background-color: white;
    position: absolute;right: 600px;top: 100px;
    border-radius: 20px;
    padding: 60px 30px;
}
h1{
    font-size: 20px;
    position: absolute;top: 5px;left: 102px;
    margin-bottom: 30px;
    font-size: 24px;
}
p{
    padding: 0;
    margin: 0;
    border: none;
    font-size: 10px;
}
.login input{
   margin-bottom: 20px;
   width: 100%;
}
.login input[type="text"],input[type="user name"]{
    /* border-bottom:1px solid gray ; */
    background: white;
    /* font-size: 4px;   */
    /* border-radius: 10px; */
}
.login input[type="text"],input[type="Password"]{
    background-color: white;
   border-bottom: 1px solid rgb(214, 212, 212)!important;
   border: none;
   
}
.login input[type=submit]{
    background-image: linear-gradient(to left,rgba(235, 135, 235, 0.999),rgb(130, 135, 238));
    border-radius: 20px;
    height: 40px;
    outline: none;
    font-size: 15px;
    border: none;
    margin-top: 20px;  
}
#first{
    position: absolute;
    left: 150px;top: 164px;
    font-size: 10px;
    color: blue;
}
#second{
  margin-top:40px;
  position: absolute;left: 80px;top: 220px;
}
#third{
   position: absolute;left: 90px;top:380px;
   font-size: 13px;
}
#forth{
    position: absolute;left: 100px;top: 400px;
    font-size: 12px;
}
.victory{
   position: absolute;right: 160px;top: 290px;
   height: 30px;
   width: 50px;
   border-radius: 50%;
   background-color: white;
}
.won{
    position: absolute;right: 120px;top:290px;
   height: 30px;
   width:30px;
}
.joy{
  position: absolute;right: 70px;top:286px ;
  height: 40px;
  width: 40px;
}
.win{
  position: absolute;top: 80px;left: 12px;
  height: 17px;
  width: 15px;
  padding-right: 20px;
}
.bijoy
{
    position: absolute;top: 138px;left: 12px;
    height: 17px;
    width: 15px;
}
