.parent{
    height: 100px;
    width: 50px;
    position: absolute;
    left: 100px;
    border: 2px solid #346567;
}
.child{
    height: 50px;
    width: 10px;
    position: relative;
    top: 5%;
    background-color: black;
}